* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  min-height: 100vw;
  font-family: sans-serif;
  /* Flexbox para distribuir os perfis */

  display: flex;
  justify-content: center;
  align-content: start;
  gap: 2rem;
  flex-wrap: wrap;
}
